* {
    margin: 0;
    padding: 0;
}

nav{
    display:flex;
}
.navbar>ul>a>li {
    list-style-type: none;
    padding-left: 15px;
    color: black;
    text-decoration: underline;
}

.navabr a {
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    background-color: rgb(167, 198, 65);
    border-radius: 25px;
    padding: 5px;
    color:black
}
.navbar a.active{
    background-color: rgb(33, 10, 66);
    border-radius: 25px;
    padding: 5px;
    color:black
}

.navbar>ul {
    margin-left: 60vw;
    margin-top: 10px; 
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.navbar h4 {
    font-size: 22px;
}

.navbar {
    padding: 12px 15px;
    background-color: rgb(103, 216, 80);
    position: sticky;
    top:0;
    z-index: 1;
    border-radius: 20px;
}
.main-1{
    text-align: center;
    /* background-color: rgb(48, 231, 231); */
    background-color: rgb(1, 19, 1);
    margin: 10px;
    padding: 5px;
}
.main-1>img{
    width: 80vw;
    height: 500px;
}
.main-2{
    display: grid;
    height: 50vw;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(48, 231, 231);
    margin:10px;
}
.item-1{
    background-color: rgb(118, 118, 166);
    padding: 5px;
}
.footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.footer>p{
    padding: 2px;
}