body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
     background-color: rgb(245, 245, 245);/*#4CAF50; */
    color: #fff;
    padding: 1em;
    text-align: left;
    color: rgb(0, 0, 0);
    height: 40px;
    border: 5px solid black;
    font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: white;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.hero-section {
    /* background-image: url('static/images/slide3.png'); */
    background-size: cover;
    background-color: #f3f3f3;
    color: #000000;
    text-align: center;
    padding: 3em 5em;
    margin: 5px;
    height: 300px;
}

.about-section {
    text-align: center;
    padding: 3em;
}

.carousel-container {
    margin: 2em 0;
}

.programs-section {
    text-align: center;
    padding: 3em;
    background-color: #f3f3f3;
}

.contact-section {
    text-align: center;
    padding: 3em;
    background-color: #f0f0f0;
}
/* Circular frame for the logo */
/* Circular frame for the logo */


/* Logo styles */
.logo {
    width: 80px; /* Adjust the size of the logo image */
    height: auto; /* Maintains aspect ratio */
    display: inline; /* To center the image */
    margin: 0 auto; /* To center the image */
}

.crousel1{
    background-color: rgb(228, 228, 239);
}
footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 1em;
}
      /* Style the header with a grey background and some padding */
      .header {
        overflow: hidden;
        background-color: rgb(231, 223, 223);
        border: 3px solid black;
        position:sticky;
        top: 0;
        padding: 10px 10px;
        border-radius: 25px;
        height: 80px;
        margin:5px;

      }
      
      /* Style the header links */
      .header a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 25px;
      
      }
    
      /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
      .header a.logo {
        font-size: 25px;
        font-weight: bold;
      }
      
      /* Change the background color on mouse-over */
      .header-right a:hover {
        background-color: #a58383;
        color: black;
      }
      a {
        color:black;
      }
      .header a:hover{
        color: black;
        text-decoration: none;
      }
      /* Style the active/current link*/
      .header a.active {
          background-color: #4CAF50;
        background-color: ;
        color: white;
      }
      
      /* Float the link section to the right */
      .header-right {
        float: right;
        color: black;
        padding: 2px;
      }
      
      /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
      @media screen and (max-width: 500px) {
        .header a {
          float: none;
          display: block;
          text-align: left;
        }
      }
      .logo-frame {
          width: 130px; /* Adjust the size of the circular frame */
          height: auto;
          background-color: rgb(255, 255, 255); /* Background color for the circular frame */
          border-radius: 50%; /* Creates a circular shape */
          display: inline-block;
          margin-right: 20px; /* Adjust the margin as needed to position it to the left */
          text-align: center;
          line-height: 100px; /* Vertically centers the logo */
      }